extends ../layouts/application.pug

block header 
  h1=t('layouts.application.users')

block content
  table.bg-white.table.table-striped.mt-5
    thead
      tr
        th= t('views.users.id')
        th= t('views.users.fullName')
        th= t('views.users.email')
        th= t('views.users.createdAt')
        th= t('views.users.actions.actions')
    tbody
      each user in users
        tr
          td= user.id
          td= user.firstName + ' ' + user.lastName
          if user.id == currentUserId
            td.text-success.fw-bold= '* ' + user.email + ' *'
          else
            td= user.email
          td= formatDate(user.createdAt)
          td.d-flex
            a(href=`/users/${user.id}/edit` class='btn btn-primary me-1')=t('views.users.actions.edit')
            +buttonTo(`/users/${user.id}`, 'DELETE')(value=t('views.users.actions.delete')).btn.btn-danger


