extends ../layouts/application.pug

block header 
  h1=t('layouts.application.editStatus')

block content
  .container
    form(action=`/statuses/${status.id}`, method='POST')
      - propertyErrors = _.get(errors, 'name')
      - classLine = 'form-control' + (_.isEmpty(propertyErrors) ? '' : ' is-invalid')
      .mb-3(class=(errors && 'has-danger')).form-floating
        input(
        class=classLine,
        type="text",
        id='data_name',
        placeholder=t('views.statuses.name')
        name='data[name]',
        value=_.get(status, 'name', ''))

        if !_.isEmpty(propertyErrors)
          .invalid-feedback= propertyErrors.map(({ message }) => message).join('. ')
        label(for='data_name')=t('views.statuses.name')
      input(name='_method' type='hidden' value='PATCH')
      input.btn.btn-primary(type='submit', value=t('views.statuses.actions.edit'))