extends ../layouts/application.pug

block header 
  h1=t('layouts.application.createLabel')

block content
  .container
    form(action=route('createLabel'), method='POST')
      - propertyErrors = _.get(errors, 'name')
      - classLine = 'form-control' + (_.isEmpty(propertyErrors) ? '' : ' is-invalid')
      .mb-3(class=(errors && 'has-danger')).form-floating
        input(
        class=classLine,
        type="text",
        id='data_name',
        placeholder=t('views.labels.name'),
        name='data[name]',
        value=_.get(label, 'name', ''))

        if !_.isEmpty(propertyErrors)
          .invalid-feedback= propertyErrors.map(({ message }) => message).join('. ')
        label(for='data_name')=t('views.labels.name')
      input.btn.btn-primary(type='submit', value=t('views.labels.actions.new'))
