extends ../layouts/application.pug

block header 
  h1=t('layouts.application.editTask')

block content
  form(action=`/tasks/${task.id}`, method='POST')
    - propertyErrors = _.get(errors, 'name')
    - classLine = 'form-control' + (_.isEmpty(propertyErrors) ? '' : ' is-invalid')
    .mb-3(class=(errors && 'has-danger')).form-floating
      input(
        id='data_name',
        type='text',
        name='data[name]',
        class=classLine,
        placeholder=t('views.tasks.name'),
        value=_.get(task, 'name', ''))

      if !_.isEmpty(propertyErrors)
        .invalid-feedback= propertyErrors.map(({ message }) => message).join('. ')
      label(for='data_name')=t('views.tasks.name')
    .mb-3
      label(for='data_description')=t('views.tasks.description')
      textarea(
        id='data_description', class='form-control', name='data[description]')= _.get(task, 'description', '')

    .mb-3
      label(for='data_statusId')=t('views.tasks.status')
      select(id='data_statusId', class='form-control', name='data[statusId]')
        option=''
        each status in statuses
          if status.id == task.statusId
            option(selected value=status.id)=status.name
          else
            option(value=status.id)=status.name

    .mb-3
      label(for='data_executorId')=t('views.tasks.executor')
      select(id='data_executorId', class='form-control', name='data[executorId]')
        option=''
        each user in users
          if user.id == task.executorId
            option(selected value=user.id)=`${user.firstName} ${user.lastName}`
          else
            option(value=user.id)=`${user.firstName} ${user.lastName}`

    .mb-3
      label(for='data_labels')=t('views.tasks.labels')
      select(id='data_labels', class='form-control', name='data[labels]', multiple)
        option=''
        each label in labels
          option(value=label.id)=label.name

    input(name='_method' type='hidden' value='PATCH')
    input.btn.btn-primary.mt-3(type='submit', value=t('views.tasks.actions.edit'))
