extends ../layouts/application.pug

block header 
  h1=t('layouts.application.tasks')
  a.btn.btn-primary(href=route('newTasks'))=t('views.tasks.actions.create')

block content
  .my-5.p-4.card
    form(action='/tasks', method="GET")
      .row
        .col-12.col-md
          .input-group.mb-3
            label(class='input-group-text', for='data_status')=t('views.tasks.status')
            select(name='status', id='data_status').form-select
              option=''
              each status in statuses
                if status.id == query.status
                  option(selected value=status.id)=status.name
                else
                  option(value=status.id)=status.name
        .col-12.col-md
          .input-group.mb-3
            label(class='input-group-text', for='data_executor')=t('views.tasks.executor')
            select(name='executor', id='data_executor').form-select
              option=''
              each user in users
                if user.id == query.executor
                  option(selected value=user.id)=user.firstName + ' ' + user.lastName
                else
                  option(value=user.id)=user.firstName + ' ' + user.lastName
        .col-12.col-md
          .input-group.mb-3
            label(class='input-group-text', for='data_label')=t('views.tasks.label')
            select(name='label', id='data_label').form-select
              option=''
              each label in labels
                if label.id == query.label
                  option(selected value=label.id)=label.name
                else
                  option(value=label.id)=label.name
      .form-check
        input(class='form-check-input', type='checkbox', value=checked, id='data_isCreatorUser' name='isCreatorUser' checked=query.isCreatorUser)
        label(class='form-check-label', for='data_isCreatorUser')=t('views.tasks.only_my_tasks')
      .row
        .input-group.mt-3
          input(class='btn btn-primary', type='submit' value=t('views.tasks.actions.show'))

  table.bg-white.table.table-striped.mt-5
    thead
      tr
        th= t('views.tasks.id')
        th= t('views.tasks.name')
        th= t('views.tasks.status')
        th= t('views.tasks.author')
        th= t('views.tasks.executor')
        th= t('views.tasks.createdAt')
        th= t('')
    tbody
      - const getDataById = (ownerId, entities) => entities.find(({ id }) => ownerId == id)
      each task in tasks
        tr
          td= task.id
          td
            a.text-break(href=`/tasks/${task.id}`)=task.name
          - const status = getDataById(task.statusId, statuses)
          - const creator = getDataById(task.creatorId, users)
          - const executor = getDataById(task.executorId, users)
          td= status.name
          td= creator.firstName + ' ' + creator.lastName
          td= executor.firstName + ' ' + executor.lastName
          td= formatDate(task.createdAt)
          td.d-flex
            a(href=`/tasks/${task.id}/edit` class='btn btn-primary me-1')=t('views.tasks.actions.edit')
            +buttonTo(`/tasks/${task.id}`, 'DELETE')(value=t('views.tasks.actions.delete')).btn.btn-danger