extends ../layouts/application.pug

block header 
  h1.text-break=task.name

block content
  .mt-5.p-5.shadow.bg-white
    .row
      .col
        p.text-break.fs-5= task.description
      .col-4.border-start
        if (status)
          .badge.bg-danger= status.name
        if (labels)
          for label in labels
            .badge.bg-info.ms-1= label.name
        p= `${t('views.tasks.author')} ${creator.firstName} ${creator.lastName}`
        if (executor)
          p= `${t('views.tasks.executor')} ${executor.firstName} ${executor.lastName}`
        p= `${t('views.tasks.createdAt')} ${formatDate(task.createdAt)}`
        .d-flex
            a(href=`/tasks/${task.id}/edit` class='btn btn-primary me-1')=t('views.tasks.actions.edit')
            +buttonTo(`/tasks/${task.id}`, 'DELETE')(value=t('views.tasks.actions.delete')).btn.btn-danger

